<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Başarılı - Tebrikler, ürünü takibe aldınız!</title>
    <!-- Bootstrap -->
    
    <link rel="stylesheet" href="~/App/dist/vendor/bootstrap-4.5.3/css/bootstrap.min.css" type="text/css">
    <!-- Material design icons -->
    <link rel="stylesheet" href="~/App/dist/icons/material-design-icons/css/mdi.min.css" type="text/css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
    <!-- Latform styles -->
    <link rel="stylesheet" href="~/App/dist/css/latform-style-1.min.css" type="text/css">
</head>
<body>
<div class="form-wrapper">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <h3 class="font-weight-bold mb-3">Tamamdır !</h3>
                    <p class="text-muted">Bu sayfayı görüyorsanız bütün işlemler halloldu! Geriye kalan tek şey e-posta adresinizi düzenli olarak kontrol etmeniz. Görüşmek üzere :)</p>
                    <div class="row mb-5">
                        <div class="col-md-8 offset-md-2">
                            <img class="img-fluid" src="~/App/dist/images/send_mail.svg"
                                 alt="send_mail">
                        </div>
                    </div>
                    <a href="/Home/Index">Ana Sayfa</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Jquery -->
<script src="~/App/dist/vendor/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/App/dist/vendor/bootstrap-4.5.3/js/bootstrap.min.js"></script>
</body>
</html>
