@model WebApp.ViewModels.ProductTrackerViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fiyat Ogren</h1>
<hr />

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form method="post">
    @ViewBag.IncorrectLink
    <div class="form-group">
        <label>Alışveriş Sitesi</label>
        <select asp-for="MarketPlace"  class="form-select">
            <option value="1">Trendyol</option>
            <option value="2">HepsiBurada</option>
            <option value="3">Amazon</option>
        </select>        
        <small class="form-text text-muted">Geçerli bir e-ticaret platformu seçin.</small>
        <span asp-validation-for="MarketPlace" class="text-danger"></span>

        <br />
    </div>

        <br />

    <div class="form-group">
        <label>Ürün Linki</label>
        <input type="text" class="form-control" asp-for="Url" aria-describedby="emailHelp" placeholder="Ürün url">
        <small class="form-text text-muted">Lütfen tarayıcı üzerinden ürünün linkini/adresini kopyalayıp doğrudan buraya yapıştırın.</small>
        <span asp-validation-for="Url" class="text-danger"></span>

        <br />
    </div>

        <br />

    <div class="form-group">
        <label>İstenen Fiyat</label>
        <input type="number" class="form-control" asp-for="DesiredPrice" placeholder="Düşmesi beklenen fiyat.">
        <small class="form-text text-muted">Belirttiğiniz bu fiyatın altına düştüğünde eposta alacaksınız.</small>
        <span asp-validation-for="DesiredPrice" class="text-danger"></span>

        <br />
    </div>

    <br />

    <div class="form-group">
        <label>Eposta Adresiniz</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="E-posta adresiniz.">
        <small class="form-text text-muted">Eposta adresinizi doğru yazmaya özen gösterin.</small>
        <span asp-validation-for="Email" class="text-danger"></span>

        <br />
    </div>

    <button type="submit" class="btn btn-primary">Alarmla!</button>
</form>
<hr />
<div>
    Fiyat: @ViewBag.test
    <br />
</div>